.card {
  display: flex;
  font-family: Arial, sans-serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10px
}

.card-in {
  border: 1px rgb(150, 150, 150) solid;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 665px;
  height: auto;
  margin-bottom: 22px;
}

.book-image {
  border-radius: 10px;
  border: 1px silver solid;
  margin: 20px;
  width: 157px;
  height: 200px;
}

.content {
  margin-top: 14px;
  padding: 16px;
  flex: 1;
}

.info-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

h2 {
  font-weight: 600;
  margin: 0;
  font-size: 16px;
  color: #333;
  width: 166px;
}

p {
  margin: 0;
  font-size: 17px;
  color: #555;
  text-align: left;
  width: 170px;
  white-space: nowrap;
  /* Matnni bir qatorga sig‘dirish */
  overflow: hidden;
  /* Ortiqcha matnni yashirish */
  text-overflow: ellipsis;
  /* Ortiqcha matn o‘rniga uchta nuqta qo‘yish */
}

.ratin-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-start;
  gap: 16px;
}

.rating {
  margin-top: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 282px;
}

.rating span {
  margin-right: 7px;
  font-size: 30px;
  color: #f1c40f;

}

/* .rating-star {

  width: 144px;



} */

/* .rating-number{
  size: 23px;
  font-weight: 500;
}

.rating-number {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
} */

.view-button {
  flex-shrink: 0;
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
  width: 150px;
}

.view-button a {
  color: #fff;
  text-decoration: none;
}

.view-button:hover {
  background-color: #219150;
  transition: 400ms;
}



/* .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 748px;
  height: 249px;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rate-button-modal{
  margin-top: 30px;
  background-color: rgb(8, 138, 4);
  width: 140px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
} */

.star {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  /* Checkboxni butunlay ekrandan tashqariga chiqaring */
  left: -9999px;
}

.rating-ball {
  margin-left: 20px;
  align-items: center;
  font-size: 19px;
  margin-right: 98px;
}




/* headerdagi logo uchun still */
.logo-img-style {
  width: 40px;
}



/* korish tugmasi uchun stil */
.mybook-view-button {
  display: grid;
  place-items: center; /* Vertikal va gorizontal markazlash */
  height: 100vh; 
  flex-shrink: 0;
  background-color: #27ae60;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
  width: 48px;
  height: 48px;
}

.mybook-view-button a {
  color: #fff;
  width: auto;
  height: auto;
  /* text-decoration: none; */
}

.mybook-view-button:hover {
  background-color: #219150;
  transition: 400ms;
}



/* ochiriish tugmasi uchun stil */
.mybook-del-button {
  display: grid;
  place-items: center; /* Vertikal va gorizontal markazlash */
  height: 100vh; 
  flex-shrink: 0;
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
  width: 48px;
  height: 48px;
}



.mybook-del-button:hover {
  background-color: #b30404;
  transition: 400ms;
}





.iconnka {
  width: 26px;
  height: auto;
}